/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #e9e3b4;
    color: #220901;
    font-family: "Hind Guntur", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 15px;
    flex: 1;
}

/* Header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2a5039;
}

#logo {
    margin-left: 0.31rem;
    width: 3.13rem;
}

h1 {
    text-align: center;
    margin: 1rem;
    font-family: "Vollkorn", serif;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.063rem;
    color: #2a5039;
}

/* Main */
#subheading {
    font-size: 2rem;
    text-align: center;
    margin: 1.25rem;
    font-weight: 500;
}

/* Show recipe button */

#showRecipeButton {
    display: block;
    margin: 1.25rem auto;
    padding: 1.38rem;
    font-size: 1.625rem;
    font-weight: 700;
    background-color: #2a5039;
    color: #e9e3b4;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#showRecipeButton:hover {
    background-color: #e9e3b4;
    border: 2px solid #2a5039;
    color: #2a5039;
}

/* Category selection */
#select-category {
    font-family: "Hind Guntur", sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0.94rem;
}

/* Radio buttons */

#categorySelection {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

#categorySelection label {
    margin-right: 1.25rem;
}

/* Recipe card */
#recipeCard {
    max-width: 46.13rem;
    padding: 0.625rem;
    margin: 1.25rem auto;
    background-color: rgb(249, 249, 246);
    border-radius: 0.38rem;
    display: flex;
    flex-direction: column;
}

/* Recipe card title */
#recipeCard h3 {
    margin: 0.31rem;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* Recipe card image */
#recipeImage {
    width: 18.13rem;
    display: block;
    margin: auto;
    border-radius: 0.38rem;
}

/* Servings paragraph */
#servingsParagraph {
    text-align: center;
    margin: 0.313rem;
    font-size: 1.375rem;
    opacity: 0.7;
}

/* Recipe card buttons */
#recipeCard button {
    display: block;
    margin: 0.13rem auto;
    padding: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #2a5039;
    color: #e9e3b4;
    border-radius: 6px;
    width: 18.75rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#recipeCard button:hover {
    background-color: #e9e3b4;
    border: 2px solid #2a5039;
    color: #2a5039;
}

#ingredients,
#instructions {
    margin-top: 1.2rem;
}

/* Ingredients list */
.ingredientsList {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 1.125rem;
}

/* Instructions list */
.instructionsList {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

/* Footer */
footer {
    border-top: 1px solid #2a5039;
}

.footer li {
    list-style-type: none;
}

.footer i {
    font-size: 2rem;
    margin: 0.5rem;
    color: #2a5039;
}

#social-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Media queries */
/* Small mobile phones (320px and up) */
@media screen and (min-width: 320px) {

    /* Header */
    #logo {
        margin-left: 0.2rem;
    }

    h1 {
        margin: 0.2rem;
    }

    /* Recipe card image */
    #recipeImage {
        width: 17rem;
    }

    /* Recipe card button */
    #recipeCard button {
        width: 17rem;
    }
}

/* Media query: large or landscape phones (558px and up) */
@media screen and (min-width: 558px) {

    /* recipe Image */
    #recipeImage {
        width: 23.13rem;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Main */
    #subheading {
        margin-top: 3rem;
    }

    #recipeCardButtons {
        display: flex;
        justify-content: space-around;
    }

    /* recipe Image */
    #recipeImage {
        width: 28rem;
    }

    /* Instructions list */
    .instructionsList {
        margin-left: 6rem;
    }
}

/* Media query: large devices (1400px and up)*/
@media only screen and (min-width: 1400px) {

    /* Header */
    #header {
        justify-content: left;
    }

    h1 {
        font-size: 2.7rem;
    }
}