/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #e9e3b4;
    color: #220901;
    font-family: "Hind Guntur", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 15px;
    flex: 1;
}

/* Header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2a5039;
}

#logo {
    margin-left: 0.31rem;
    width: 3.13rem;
}

h1 {
    text-align: center;
    margin: 1rem;
    font-family: "Vollkorn", serif;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.063rem;
    color: #2a5039;
}